<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>404 NOT FOUND !</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<% include menu %>
	<h1>404 not found !</h1>
	<p>sorry，we can't get your target source!</p>
</body>
</html>