<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<% include menu %>
	<div class="wrap">
		<div class="panel">
			<div class="panel-title"> 
				<h2><%= title %></h2>	
			</div>
			<div class="panel-body">
				<p class="til">Fill in the form below to add a new Post!</p>
				<% include message %>
				<form action="/msg/add" method="post">
					<p><input type="text" name='title' class="input" placeholder="请输入标题"></p>
					<p>
						<textarea name="content" id="" cols="30" rows="10" class="text" placeholder="请输入描述……"></textarea>
					</p>
					<p><input type="submit" value="发表" class="btn btn-primary"></p>
				</form>	
			</div>
		</div>
	</div>
</body>
</html>