<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<% include menu %>
	<div class="wrap">
		<div class="panel">
			<div class="panel-title"> 
				<h2><%= title %></h2>	
			</div>
			<div class="panel-body">
				<p class="til">Fill in the form below to sign up!</p>
				<% include message %>
				<form action="/user/register" method="post">
					<p><input type="text" name='name' class="input" placeholder="请输入姓名"></p>
					<p><input type="password" name="pass" class="input" placeholder="请输入密码"></p>
					<p><input type="submit" value="注册" class="btn btn-primary"></p>
				</form>	
			</div>
		</div>
	</div>
</body>
</html>